<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title text-center">
					<h1>Kategorien <span class="badge"><%= @categories.count %></span></h1>
						<%= link_to "+", new_admin_category_path %>
				</div>

			</div>			
			<div class="table-responsive">
			<table class="table table-condensed table-bordered table-striped table-hover">
				<thead>
					<tr>						
						<th>Kategorie</th>
						<th>Beschriebung</th>
					</tr>
				</thead>
				<tbody>
					<% @categories.each do |category| %>
						<tr>
							<td><%= link_to category.name, admin_category_path(category) %> <span class="badge"><%= category.posts.count %></td>
							<td>
								<%= truncate(category.description, length: 95) %>
								<%= link_to "...mehr", admin_category_path(category) %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			</div>
		</div>
	</div>
</div>
